@font-face {
	font-family: "AU Akkurat";
	src: url(font/AU_Akkurat.otf);
}

* {
  margin: 0;
  padding: 0
}

header {
	background:#002a48;
	height: 115px;
	margin: 0 auto;
}

.AUlogo {
	height:65px;
	background: #002a48 url(auLogo.png) center no-repeat;
}

img {
  max-width: 100%
}

.container {
	width: 400px;
  	height: 315px;
	margin: 0 auto;
	}

.collapse {
  margin: 0!important;
  padding: 0
}
body {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  font-family: "AU Akkurat", sans-serif;
}

input {
  display: block;
  border: none;
}
input[type=search] {
  width: 320px;
  height: 40px;
  margin-left:20px;
  float:left;
  top: 0;
  padding: .7em 4em .7em .7em
}

/* Placeholder text */
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:#be9549;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:#be9549;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:#be9549;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:#be9549;
}
:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
  color:#be9549;
}

input[type=submit] {
  width: 40px;
  height: 40px;
  background:#00406f;
  cursor: pointer;
  padding: 0
}
h2 {
	color: be9549;
}
form {
  margin: 0 0 1em
}
p, ul {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
}
p.lead {
  font-size: 17px
}
p.last {
  margin-bottom: 0
}
ul li {
  margin-left: 5px;
  list-style-position: inside
}

.content {
	max-width:400px;
	display: block;
	margin: 0 auto;
	clear: both!important;
	padding: 0;
}
.clear {
  display: block;
  clear: both
}

.nav {
    line-height:30px;
    background-color:#eee;
    height:170px;
    width:170px;
    float:left;
    padding:15px;
	color: #43403f;
	font-size:14px;
}

.nav ul li, .nav2 ul li {
	list-style-type: none;
	text-indent: 10px;
	}

.nav li a, a:visited {
	color: #43403f;
	text-decoration:none;
}
	.nav li a:hover {
		text-decoration:underline;
	}

.nav2 li a, a:visited {
	color: #fff;
	text-decoration:none;
}
	.nav li a:hover {
		text-decoration:underline;
	}

.nav h2, .nav2 h2 {
	font-family: Georgia, serif;
	font-weight:500;
	font-size:24px; 
	margin-bottom:5px;
}

.nav2 h2 {
	color:#be9549;
}

.nav2 {
    line-height:30px;
    background-color:#404f59;
    height:170px;
    width:170px;
    float:right;
    padding:15px;
	font-size:14px;
}

#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
   padding:5px;
}
